@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  color: wheat;
}

body {
  font-family: "Lora", serif;
  background-color: rgb(61, 61, 61);
}

/* Footer */
footer {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 15px 10px;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: accent;
  animation-iteration-count: infinite;
}

@keyframes accent {
  from {
    outline: 1px solid transparent;
    outline-offset: 5px;
  }

  to {
    outline: 4px solid wheat;
    outline-offset: 5px;
  }
}
/* Footer End */

/* Main  */
main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin-bottom: 20vh;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

#about img {
  border-radius: 20%;
  transition: transform 0.2s;
}

#about img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.list-group-item {
  background-color: inherit;
  color: inherit;
  border: none;
}

#text-content {
  background-color: rgb(54, 54, 54);
}
/* End Main */

/* Side Menus */
#left-menu {
  height: 400px;
  width: 200px;
  position: fixed;
  left: 0;
  top: calc(50vh - 200px);
  display: flex;
}

#right-menu {
  height: 280px;
  position: fixed;
  right: 0;
  top: calc(50vh - 140px);
  display: flex;
}

#left_aside_secction {
  background-color: rgb(54, 54, 54);
  width: 250px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.profile-contact-links {
  font-size: 30px;
}

nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}

nav > ul > li > a {
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid wheat;
  padding-left: 20px;
  border-radius: 5px;
}
nav > ul > li > a:hover {
  transform: scale(1.3);
}

li > a {
  text-decoration: none;
  color: inherit;
}
li > a:hover {
  text-decoration: none;
  color: white;
}

nav li {
  list-style: none;
}
/* End Side Menus */
