@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  color: wheat;
}
/* Start Header */
body {
  font-family: "Lora", serif;
  /* color: wheat; */
  background-color: rgb(61, 61, 61);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 54, 54);
  padding: 20px 50px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

li > a {
  text-decoration: none;
  color: inherit;
}
li > a:hover {
  text-decoration: none;
  color: white;
}

nav li {
  list-style: none;
}

.portfolio_header {
  animation-duration: 3s;
  animation-name: show_in;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes show_in {
  from {
    color: transparent;
  }

  to {
    color: inherit;
  }
}

/* End Header */

/* Footer */
footer {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 15px 10px;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: accent;
  animation-iteration-count: infinite;
}

@keyframes accent {
  from {
    outline: 1px solid transparent;
    outline-offset: 5px;
  }

  to {
    outline: 4px solid wheat;
    outline-offset: 5px;
  }
}

/* Footer End */

/* Main  */

main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin-bottom: 20vh;
}

#left_aside_secction {
  /* max-width: 300px; */
  background-color: rgb(70, 70, 70);
}

#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

#about img {
  border-radius: 20%;
  transition: transform 0.2s;
}

#about img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* #right_article_section {
  padding: 25px;
} */

/* End Main */
